.mt-small {
  margin-top: 1rem;
}

.mb-small {
  margin-bottom: 1rem;
}

.mt-medium {
  margin-top: 2rem;
}

.mb-medium {
  margin-bottom: 2rem;
}

.mt-large {
  margin-top: 3rem;
}

.mb-large {
  margin-bottom: 3rem;
}

.is-overflow {
  overflow: hidden;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

img,
picture {
  max-width: 100%;
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
}

@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
*::before,
*::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  background-color: #fafafa;
  color: rgba(122, 122, 122, 0.7);
  font-family: "Commissioner", sans-serif;
  font-size: 1.6rem;
  text-rendering: optimizeSpeed;
}

.crowdfund__heading {
  color: black;
  font-size: clamp(2rem, 2vw, 2.8rem);
  font-weight: 700;
  margin: 0 auto;
  padding: 1rem 0;
}
.crowdfund__heading--top {
  width: 80%;
}
.crowdfund__heading--secondary {
  font-size: clamp(2rem, 2vw, 2.2rem);
}
.crowdfund__heading--tertiary {
  font-size: clamp(1.4rem, 4vw, 1.9rem);
  margin: 0;
  padding: 0;
}
.crowdfund__heading--modal {
  transition: all 0.3s;
}
.crowdfund__heading--modal:hover {
  color: #3cb4ac;
  cursor: pointer;
}
.crowdfund__desc {
  font-size: clamp(1.4rem, 2vw, 1.7rem);
  line-height: 1.7;
  transition: color 0.2s;
}
.crowdfund__desc--cyan {
  color: #3cb4ac;
}
.crowdfund__desc--grey {
  color: rgba(122, 122, 122, 0.5);
}
.crowdfund__desc--modal {
  margin: 1rem 0;
}
@media (min-width: 810px) {
  .crowdfund__desc--modal {
    grid-column: 1/-1;
    margin-left: 4.5rem;
  }
}
.crowdfund__desc.error-text {
  color: #b43c3c;
}
.crowdfund__num {
  font-size: 1.5rem;
  display: flex;
  flex-direction: column;
}
.crowdfund__num--small {
  margin-bottom: 0;
  align-items: center;
  flex-direction: row;
  gap: 1rem;
}
@media (min-width: 810px) {
  .crowdfund__num--small {
    grid-column: 2/-1;
    grid-row: 1/2;
    justify-self: end;
  }
}
.crowdfund__num-span {
  color: black;
  font-size: 3.2rem;
  font-weight: 700;
  margin-bottom: 1rem;
}
.crowdfund__num-span--small {
  font-size: clamp(2rem, 4vw, 3rem);
  margin-bottom: 0;
}

.crowdfund__header {
  padding-top: 3.2rem;
  position: relative;
}
@media (min-width: 810px) {
  .crowdfund__header {
    padding-top: 5rem;
  }
}
@media (min-width: 1140px) {
  .crowdfund__header {
    max-width: 111rem;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}
.crowdfund__nav {
  width: 100%;
  background-color: white;
  border-radius: 1rem;
  position: absolute;
  top: 9rem;
  z-index: 10;
  opacity: 0;
  visibility: hidden;
  transition: visibility 0.3s, opacity 0.2s, box-shadow 0.2s;
}
.crowdfund__nav.open-nav {
  opacity: 1;
  visibility: visible;
  box-shadow: 0 10px 100px -30px black;
}
@media (min-width: 1140px) {
  .crowdfund__nav {
    all: unset;
  }
}
.crowdfund__list {
  list-style: none;
}
@media (min-width: 1140px) {
  .crowdfund__list {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 4rem;
  }
}
.crowdfund__item {
  padding: 2.2rem 2.4rem;
}
.crowdfund__item:not(:last-child) {
  border-bottom: 0.1rem solid rgba(122, 122, 122, 0.2);
}
@media (min-width: 1140px) {
  .crowdfund__item {
    padding: 0;
  }
}
.crowdfund__link:link, .crowdfund__link:visited {
  color: black;
  font-size: 1.8rem;
  font-weight: 500;
  text-decoration: none;
  border-bottom: 1px solid transparent;
  transition: border-bottom 0.3s;
}
@media (min-width: 1140px) {
  .crowdfund__link:link, .crowdfund__link:visited {
    color: white;
    font-size: 1.3rem;
  }
}
.crowdfund__link:hover, .crowdfund__link:active {
  border-bottom: 1px solid white;
}

.crowdfund__hero {
  min-height: 37vh;
  background-image: url("./../images/image-hero-mobile.jpg");
  background-repeat: no-repeat;
  background-size: contain;
  background-attachment: fixed;
  box-shadow: inset 0px 80px 35px -10px rgba(0, 0, 0, 0.5);
  padding-inline: 2.5rem;
}
@media (min-width: 810px) {
  .crowdfund__hero {
    min-height: 20.9vh;
    background-image: url("./../images/image-hero-desktop.jpg");
  }
}
@media (min-width: 1140px) {
  .crowdfund__hero {
    min-height: 43vh;
  }
}

.crowdfund__main {
  width: 100%;
  padding-inline: 2.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: -5rem;
}
@media (min-width: 1140px) {
  .crowdfund__main {
    margin-top: -10rem;
  }
}

.attribution {
  font-size: 1rem;
  text-align: center;
  margin-block: 2rem;
}
.attribution__link:link, .attribution__link:visited {
  text-transform: uppercase;
  color: #3cb4ac;
  transition: all 0.3s;
}
.attribution__link:hover, .attribution__link:active {
  color: #147b74;
}

.crowdfund__box {
  width: 100%;
  max-width: 73rem;
  background-color: white;
  border: 0.1rem solid rgba(122, 122, 122, 0.1);
  border-radius: 1rem;
  font-size: 1.6rem;
  font-weight: 500;
  text-align: center;
  padding: 3rem 2rem;
  position: relative;
}
@media (min-width: 810px) {
  .crowdfund__box {
    padding: 4rem;
  }
}
.crowdfund__box:not(:last-child) {
  margin-bottom: 2rem;
}
.crowdfund__box--large {
  text-align: left;
  padding: 2rem;
}
@media (min-width: 810px) {
  .crowdfund__box--large {
    padding: 4rem;
  }
}
.crowdfund__box--small, .crowdfund__box--grid {
  border: 0.1rem solid rgba(122, 122, 122, 0.3);
  text-align: left;
  padding: 2rem;
}
.crowdfund__box--small-disabled {
  opacity: 0.5;
}
.crowdfund__box--grid {
  padding: 0;
  transition: border 0.3s;
}
.crowdfund__box--grid.active-grid {
  border: 0.2rem solid #3cb4ac;
}
.crowdfund__logo--secondary {
  position: absolute;
  top: -2.7rem;
  left: 50%;
  transform: translateX(-50%);
}

.crowdfund__input {
  width: 50%;
  color: black;
  border: 0;
  border-radius: 10rem;
  font-weight: 700;
  outline: 0.1rem solid #7a7a7a;
  padding-left: 4rem;
  position: relative;
}
.crowdfund__input.has-error:focus-visible {
  outline: 0.1rem solid #b43c3c;
}
.crowdfund__input:focus-visible {
  outline: 0.1rem solid #3cb4ac;
}
.crowdfund__input::placeholder {
  color: #7a7a7a;
}
@media (min-width: 810px) {
  .crowdfund__input {
    width: 40%;
  }
}

.crowdfund__modal-bg {
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  overflow-y: scroll;
  padding: 0 1.5rem;
  visibility: hidden;
  opacity: 0;
  transition: all 0.3s;
}
.crowdfund__modal-bg.is-modal-visible {
  visibility: visible;
  opacity: 1;
}
.crowdfund__modal {
  width: 95%;
  padding: 15rem 0;
  border-radius: 1rem;
  background-color: white;
}
.crowdfund__modal--large {
  max-width: 73rem;
  margin: 12rem auto;
  padding: 2rem;
  position: relative;
  visibility: hidden;
  opacity: 0;
  transition: all 0.5s;
}
.crowdfund__modal--large.is-modal-visible {
  visibility: visible;
  opacity: 1;
}
.crowdfund__modal--large.is-none {
  display: none;
}
.crowdfund__modal--small {
  width: 87%;
  max-width: 50rem;
  padding: 3rem;
  text-align: center;
  visibility: hidden;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  transition: all 0.5s;
}
.crowdfund__modal--small.is-modal-visible {
  visibility: visible;
  opacity: 1;
}
.crowdfund__modal--small > *:not(:last-child) {
  margin-bottom: 2rem;
}

.crowdfund__btn {
  color: white;
  background-color: #3cb4ac;
  border: 0;
  border-radius: 5rem;
  padding: 1.5rem 4.8rem;
  transition: all 0.3s;
}
.crowdfund__btn:focus-visible {
  outline: 0.2rem solid #7a7a7a;
}
.crowdfund__btn:hover {
  background-color: #147b74;
  cursor: pointer;
}
.crowdfund__btn--small {
  font-size: 1.4rem;
  padding: 1.5rem 3rem;
}
@media (min-width: 810px) {
  .crowdfund__btn--small {
    width: 30%;
  }
}
.crowdfund__btn--hamburger {
  background: unset;
  border: 0;
  padding: 0;
  border-radius: 0;
}
@media (min-width: 1140px) {
  .crowdfund__btn--hamburger {
    display: none;
  }
}
.crowdfund__btn--bookmark {
  width: 5rem;
  background-color: unset;
  display: flex;
  padding: 0;
  overflow: hidden;
}
.crowdfund__btn--bookmark.bookmarked {
  filter: invert(39%) sepia(32%) saturate(883%) hue-rotate(129deg) brightness(94%) contrast(98%);
}
@media (min-width: 810px) {
  .crowdfund__btn--bookmark {
    width: unset;
    color: #7a7a7a;
    background-color: rgba(122, 122, 122, 0.1);
    padding: 0 2rem 0 0;
    align-items: center;
    gap: 2rem;
  }
}
.crowdfund__btn--bookmark:hover {
  background-color: rgba(122, 122, 122, 0.1);
  cursor: pointer;
  filter: invert(68%) sepia(52%) saturate(4%) hue-rotate(22deg) brightness(97%) contrast(84%);
}
.crowdfund__btn--disabled {
  background-color: #7a7a7a;
}
.crowdfund__btn--disabled:hover {
  cursor: not-allowed;
  background-color: #7a7a7a;
}
.crowdfund__btn--modal {
  width: 50%;
  padding: 1.8rem 2rem;
}
@media (min-width: 810px) {
  .crowdfund__btn--modal {
    width: 40%;
  }
}
.crowdfund__progressbar {
  width: 89.914%;
  height: 1.1rem;
  border-radius: 1rem;
  background-color: #3cb4ac;
}
.crowdfund__progressbar-container {
  background-color: rgba(122, 122, 122, 0.1);
  border-radius: 1rem;
  margin-top: 3rem;
}
.crowdfund__close {
  background: unset;
  border: 0;
  padding: 0;
  border-radius: 0;
  position: absolute;
  right: 2rem;
}
.crowdfund__close:hover {
  cursor: pointer;
}
.crowdfund__checkbox {
  height: 25px;
  width: 25px;
  background-color: white;
  border: 1px solid #7a7a7a;
  border-radius: 50%;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  cursor: pointer;
  transition-duration: 0.3s;
}
.crowdfund__checkbox:checked {
  background-color: #3cb4ac;
  box-shadow: inset 0 0 0 5px white;
}
.crowdfund__checkbox--disabled {
  cursor: not-allowed;
}
.crowdfund__checkbox--disabled:checked {
  background-color: unset;
}

.crowdfund__wrapper-header {
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media (min-width: 1140px) {
  .crowdfund__wrapper-header {
    margin: 0;
  }
}
.crowdfund__wrapper-btns {
  margin-top: 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.crowdfund__wrapper-nums > *:not(:last-child) {
  margin-bottom: 2rem;
}
.crowdfund__wrapper-nums > *:not(:last-child)::after {
  content: "";
  width: 30%;
  height: 0.1rem;
  background-color: rgba(122, 122, 122, 0.3);
  margin: 2.5rem auto 0 auto;
}
@media (min-width: 810px) {
  .crowdfund__wrapper-nums {
    text-align: left;
    display: flex;
    align-items: center;
    gap: 6rem;
  }
  .crowdfund__wrapper-nums > *:not(:last-child) {
    margin-bottom: 0;
  }
  .crowdfund__wrapper-nums > *:not(:last-child)::after {
    all: unset;
  }
  .crowdfund__wrapper-nums > *:not(:first-child) {
    border-left: 0.1rem solid rgba(122, 122, 122, 0.3);
    padding: 0 4rem 0 4rem;
  }
}
@media (min-width: 810px) {
  .crowdfund__wrapper-title {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}
.crowdfund__wrapper-desc {
  margin: 2rem 0 3rem 0;
}
.crowdfund__wrapper-desc--small {
  margin: 0;
}
.crowdfund__wrapper-desc--small > *:not(:last-child) {
  margin-bottom: 2rem;
}
@media (min-width: 810px) {
  .crowdfund__wrapper-desc--small {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .crowdfund__wrapper-desc--small > *:not(:last-child) {
    margin-bottom: 0;
  }
}
.crowdfund__wrapper-text {
  padding: 2rem;
}
@media (min-width: 810px) {
  .crowdfund__wrapper-text {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}
.crowdfund__wrapper-checkbox {
  display: flex;
  align-items: center;
  gap: 2rem;
}
.crowdfund__wrapper-checked {
  height: 0;
  border-top: 1px solid rgba(122, 122, 122, 0.5);
  opacity: 0;
  visibility: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: all 0.2s;
}
.crowdfund__wrapper-checked.is-checked {
  height: unset;
  padding: 2rem;
  opacity: 1;
  visibility: visible;
}
@media (min-width: 810px) {
  .crowdfund__wrapper-checked {
    flex-direction: row;
    justify-content: space-between;
  }
  .crowdfund__wrapper-checked > * {
    margin-bottom: 0;
  }
}
.crowdfund__wrapper-input {
  position: relative;
  display: flex;
  gap: 2rem;
}
@media (min-width: 810px) {
  .crowdfund__wrapper-input {
    justify-content: flex-end;
  }
}
.crowdfund__wrapper-input::before {
  content: "$";
  color: #7a7a7a;
  position: absolute;
  top: 32%;
  left: 7rem;
  z-index: 10;
}

/*# sourceMappingURL=style.css.map */
