.mb-small {
  margin-bottom: 2rem;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

img,
picture {
  max-width: 100%;
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
}

@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
*::before,
*::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  color: rgba(122, 122, 122, 0.7);
  font-family: "Commissioner", sans-serif;
  font-size: 1.6rem;
  text-rendering: optimizeSpeed;
}

.crowdfund__heading {
  color: black;
  font-size: 2rem;
  font-weight: 700;
  margin: 0 auto;
  padding: 1rem 0;
}
.crowdfund__heading--top {
  width: 80%;
}
.crowdfund__heading--tertiary {
  font-size: 1.4rem;
  margin: 0;
  padding: 0;
}
.crowdfund__desc {
  font-size: 1.4rem;
  line-height: 1.7;
}
.crowdfund__desc--cyan {
  color: #3cb4ac;
}
.crowdfund__desc--grey {
  color: #7a7a7a;
}
.crowdfund__num {
  font-size: 1.4rem;
  display: flex;
  flex-direction: column;
}
.crowdfund__num--small {
  margin-bottom: 0;
  align-items: center;
  flex-direction: row;
  gap: 1rem;
}
.crowdfund__num-span {
  color: black;
  font-size: 3.2rem;
  font-weight: 700;
  margin-bottom: 1rem;
}
.crowdfund__num-span--small {
  margin-bottom: 0;
}

.crowdfund__header {
  padding-top: 3.2rem;
  position: relative;
}
.crowdfund__nav {
  width: 100%;
  background-color: white;
  border-radius: 1rem;
  position: absolute;
  top: 9rem;
  display: none;
}
.crowdfund__list {
  list-style: none;
}
.crowdfund__item {
  padding: 2.2rem 2.4rem;
}
.crowdfund__item:not(:last-child) {
  border-bottom: 0.1rem solid rgba(122, 122, 122, 0.2);
}
.crowdfund__link:link, .crowdfund__link:visited {
  color: black;
  font-size: 1.8rem;
  font-weight: 500;
  text-decoration: none;
}

.crowdfund__hero {
  min-height: 37vh;
  background-image: url("../../images/image-hero-mobile.jpg");
  background-repeat: no-repeat;
  background-size: contain;
  background-attachment: fixed;
  box-shadow: inset 0px 80px 35px -10px rgba(0, 0, 0, 0.5);
  padding-inline: 2.5rem;
}

.crowdfund__main {
  width: 100%;
  padding-inline: 2.5rem;
  position: absolute;
  top: 25rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.attribution {
  font-size: 1rem;
  text-align: center;
  margin-block: 1rem;
}
.attribution__link:link, .attribution__link:visited {
  text-transform: uppercase;
  color: #3cb4ac;
  transition: all 0.3s;
}
.attribution__link:hover, .attribution__link:active {
  color: #147b74;
}

.crowdfund__box {
  width: 100%;
  max-width: 60rem;
  background-color: white;
  border: 0.1rem solid rgba(122, 122, 122, 0.1);
  border-radius: 1rem;
  font-size: 1.6rem;
  font-weight: 500;
  text-align: center;
  padding: 3rem 2rem;
  position: relative;
}
.crowdfund__box:not(:last-child) {
  margin-bottom: 2rem;
}
.crowdfund__box--large {
  text-align: left;
  padding: 2rem;
}
.crowdfund__box--small {
  border: 0.1rem solid rgba(122, 122, 122, 0.3);
  text-align: left;
  padding: 2rem;
}
.crowdfund__box--small > *:not(:last-child) {
  margin-bottom: 2rem;
}
.crowdfund__box--small-disabled {
  opacity: 0.5;
}
.crowdfund__logo--secondary {
  position: absolute;
  top: -2.7rem;
  left: 50%;
  transform: translateX(-50%);
}

.crowdfund__modal {
  display: none;
}
.crowdfund__btn {
  color: white;
  background-color: #3cb4ac;
  border: 0;
  border-radius: 5rem;
  padding: 1.8rem 4.8rem;
  transition: all 0.3s;
}
.crowdfund__btn:hover {
  background-color: #147b74;
  cursor: pointer;
}
.crowdfund__btn--small {
  font-size: 1.4rem;
  padding: 1.5rem 3rem;
}
.crowdfund__btn--hamburger {
  background: 0;
  border: 0;
  padding: 0;
  border-radius: 0;
}
.crowdfund__btn--bookmark {
  background-color: unset;
  padding: 0;
  border-radius: 0;
}
.crowdfund__btn--bookmark:hover {
  background-color: unset;
  cursor: pointer;
}
.crowdfund__btn--disabled {
  background-color: #7a7a7a;
}
.crowdfund__progressbar {
  width: 80%;
  height: 1.1rem;
  border-radius: 1rem;
  background-color: #3cb4ac;
}
.crowdfund__progressbar-container {
  background-color: rgba(122, 122, 122, 0.1);
  border-radius: 1rem;
  margin-top: 3rem;
}
.crowdfund__wrapper-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.crowdfund__wrapper-btns {
  margin-top: 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.crowdfund__wrapper-nums > *:not(:last-child) {
  margin-bottom: 2rem;
}
.crowdfund__wrapper-nums > *:not(:last-child)::after {
  content: "";
  width: 30%;
  height: 0.1rem;
  background-color: rgba(122, 122, 122, 0.3);
  margin: 2.5rem auto 0 auto;
}
@media (min-width: 810px) {
  .crowdfund__wrapper-nums > *:not(:last-child) {
    margin: 0;
  }
}
@media (min-width: 810px) {
  .crowdfund__wrapper-nums {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}
@media (min-width: 810px) {
  .crowdfund__wrapper-title {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}
.crowdfund__wrapper-desc {
  margin: 2rem 0 3rem 0;
}
.crowdfund__wrapper-desc--small {
  margin: 0;
}
.crowdfund__wrapper-desc--small > *:not(:last-child) {
  margin-bottom: 2rem;
}
@media (min-width: 810px) {
  .crowdfund__wrapper-desc--small {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .crowdfund__wrapper-desc--small > *:not(:last-child) {
    margin-bottom: 0;
  }
}

/*# sourceMappingURL=style.css.map */
