@use '../abstracts/index.scss' as *;

.crowdfund__main {
  width: 100%;
  padding-inline: 2.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: -5rem;

  @media (min-width: 1140px) {
    margin-top: -10rem;
  }
}
