@use '../abstracts/index.scss' as *;

.crowdfund {
  &__hero {
    min-height: 37vh;
    background-image: url('../../images/image-hero-mobile.jpg');
    background-repeat: no-repeat;
    background-size: contain;
    background-attachment: fixed;
    box-shadow: inset 0px 80px 35px -10px rgba(0, 0, 0, 0.5);
    padding-inline: 2.5rem;
  }
}
