@use '../abstracts/index.scss' as *;

.crowdfund {
  &__box {
    width: 100%;
    max-width: 60rem;
    background-color: $color-secondary--light;
    border: 0.1rem solid rgba($color-secondary--dark, 0.1);
    border-radius: 1rem;
    font-size: 1.6rem;
    font-weight: 500;
    text-align: center;
    padding: 3rem 2rem;
    position: relative;

    &:not(:last-child) {
      margin-bottom: 2rem;
    }

    &--large {
      text-align: left;
      padding: 2rem;
    }

    &--small {
      border: 0.1rem solid rgba($color-secondary--dark, 0.3);
      text-align: left;
      padding: 2rem;

      & > *:not(:last-child) {
        margin-bottom: 2rem;
      }

      &-disabled {
        opacity: 0.5;
      }
    }
  }

  &__logo {
    &--secondary {
      position: absolute;
      top: -2.7rem;
      left: 50%;
      transform: translateX(-50%);
    }
  }
}
