@use '../abstracts/index.scss' as *;

.crowdfund {
  &__box {
    width: 100%;
    max-width: 73rem;
    background-color: $color-secondary--light;
    border: 0.1rem solid rgba($color-secondary--dark, 0.1);
    border-radius: 1rem;
    font-size: 1.6rem;
    font-weight: 500;
    text-align: center;
    padding: 3rem 2rem;
    position: relative;

    @media (min-width: 810px) {
      padding: 4rem;
    }

    &:not(:last-child) {
      margin-bottom: 2rem;
    }

    &--large {
      text-align: left;
      padding: 2rem;

      @media (min-width: 810px) {
        padding: 4rem;
      }
    }

    &--small {
      border: 0.2rem solid rgba($color-secondary--dark, 0.3);
      text-align: left;
      padding: 2rem;

      &-disabled {
        opacity: 0.5;
      }
    }

    &--grid {
      @extend .crowdfund__box--small;
      padding: 0;
      transition: border 0.3s;

      &.active-grid {
        border: 0.2rem solid $color-primary;
      }
    }
  }

  &__logo {
    &--secondary {
      position: absolute;
      top: -2.7rem;
      left: 50%;
      transform: translateX(-50%);
    }
  }
}
