@use '../abstracts/index.scss' as *;

.crowdfund {
  &__btn {
    color: $color-secondary--light;
    background-color: $color-primary;
    border: 0;
    border-radius: 5rem;
    padding: 1.8rem 4.8rem;
    transition: all 0.3s;

    &:focus-visible {
      outline: 0.2rem solid $color-secondary--dark;
    }

    &:hover {
      background-color: $color-primary--dark;
      cursor: pointer;
    }

    &--small {
      font-size: 1.4rem;
      padding: 1.5rem 3rem;

      @media (min-width: 810px) {
        width: 30%;
      }
    }

    &--hamburger {
      background: unset;
      border: 0;
      padding: 0;
      border-radius: 0;

      @media (min-width: 1140px) {
        display: none;
      }
    }

    &--bookmark {
      width: 5rem;
      background-color: unset;
      display: flex;
      padding: 0;
      overflow: hidden;

      @media (min-width: 810px) {
        width: unset;
        color: $color-secondary--dark;
        background-color: rgba($color-secondary--dark, 0.1);
        padding: 0 2rem 0 0;
        align-items: center;
        gap: 2rem;
      }

      &:hover {
        background-color: rgba($color-secondary--dark, 0.1);
        cursor: pointer;
        filter: invert(68%) sepia(52%) saturate(4%) hue-rotate(22deg)
          brightness(97%) contrast(84%);
      }
    }

    &--disabled {
      background-color: rgba($color-secondary--dark, 0.1);

      &:hover {
        cursor: not-allowed;
        background-color: rgba($color-secondary--dark, 0.1);
      }
    }

    &--modal {
      width: 50%;
      padding: 1.8rem 2rem;

      @media (min-width: 810px) {
        width: 40%;
      }
    }
  }

  &__bookmark {
  }

  &__progressbar {
    width: 80%;
    height: 1.1rem;
    border-radius: 1rem;
    background-color: $color-primary;

    &-container {
      background-color: rgba($color-secondary--dark, 0.1);
      border-radius: 1rem;
      margin-top: 3rem;
    }
  }

  &__close {
    background: unset;
    border: 0;
    padding: 0;
    border-radius: 0;
    position: absolute;
    right: 2rem;

    &-icon {
    }
  }

  &__checkbox {
    height: 25px;
    width: 25px;
    background-color: $color-secondary--light;
    border: 1px solid $color-secondary--dark;
    border-radius: 50%;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    cursor: pointer;
    transition-duration: 0.3s;

    &:checked {
      background-color: $color-primary;
      box-shadow: inset 0 0 0 5px $color-secondary--light;
    }

    &--disabled {
      cursor: not-allowed;

      &:checked {
        background-color: unset;
      }
    }
  }

  &__check-icon {
  }
}
