@use '../abstracts/index.scss' as *;

.crowdfund {
  &__btn {
    color: $color-secondary--light;
    background-color: $color-primary;
    border: 0;
    border-radius: 5rem;
    padding: 1.8rem 4.8rem;
    transition: all 0.3s;

    &:hover {
      background-color: $color-primary--dark;
      cursor: pointer;
    }

    &--small {
      font-size: 1.4rem;
      padding: 1.5rem 3rem;
    }

    &--hamburger {
      background: 0;
      border: 0;
      padding: 0;
      border-radius: 0;
    }

    &--bookmark {
      background-color: unset;
      padding: 0;
      border-radius: 0;

      &:hover {
        background-color: unset;
        cursor: pointer;
      }
    }

    &--disabled {
      background-color: $color-secondary--dark;
    }
  }

  &__bookmark {
  }

  &__progressbar {
    width: 80%;
    height: 1.1rem;
    border-radius: 1rem;
    background-color: $color-primary;

    &-container {
      background-color: rgba($color-secondary--dark, 0.1);
      border-radius: 1rem;
      margin-top: 3rem;
    }
  }

  &__close {
    &-icon {
    }
  }

  &__checkbox {
  }

  &__check-icon {
  }
}
