@use '../abstracts/index.scss' as *;

.crowdfund__input {
  width: 50%;
  color: $color-secondary;
  border: 0;
  border-radius: 10rem;
  font-weight: 700;
  outline: 0.1rem solid $color-secondary--dark;
  padding-left: 4rem;
  position: relative;

  &.has-error:focus-visible {
    outline: 0.1rem solid hsl(0, 50%, 47%);
  }

  &:focus-visible {
    outline: 0.1rem solid $color-primary;
  }

  &::placeholder {
    color: $color-secondary--dark;
  }

  @media (min-width: 810px) {
    width: 40%;
  }
}
