@use '../abstracts/index.scss' as *;

.crowdfund {
  &__modal-bg {
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    overflow-y: scroll;
    padding: 0 1.5rem;
    visibility: hidden;
    opacity: 0;

    transition: all 0.3s;

    &.is-modal-visible {
      visibility: visible;
      opacity: 1;
    }
  }

  &__modal {
    width: 95%;
    padding: 15rem 0;
    border-radius: 1rem;
    background-color: $color-secondary--light;

    &--large {
      max-width: 73rem;
      margin: 12rem auto;
      padding: 2rem;
      position: relative;
      visibility: hidden;
      opacity: 0;
      transition: all 0.5s;

      &.is-modal-visible {
        visibility: visible;
        opacity: 1;
      }

      &.is-none {
        display: none;
      }
    }

    &--small {
      width: 87%;
      max-width: 50rem;
      padding: 3rem;
      text-align: center;
      visibility: hidden;
      opacity: 0;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      display: flex;
      align-items: center;
      flex-direction: column;
      justify-content: center;
      transition: all 0.5s;

      &.is-modal-visible {
        visibility: visible;
        opacity: 1;
      }

      & > *:not(:last-child) {
        margin-bottom: 2rem;
      }
    }
  }
}
