@use '../abstracts/index.scss' as *;

.crowdfund__wrapper {
  &-header {
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;

    @media (min-width: 1140px) {
      margin: 0;
    }
  }

  &-btns {
    margin-top: 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &-nums {
    & > *:not(:last-child) {
      margin-bottom: 2rem;

      &::after {
        content: '';
        width: 30%;
        height: 0.1rem;
        background-color: rgba($color-secondary--dark, 0.3);
        margin: 2.5rem auto 0 auto;
      }
    }

    @media (min-width: 810px) {
      text-align: left;
      display: flex;
      align-items: center;
      gap: 6rem;

      & > *:not(:last-child) {
        margin-bottom: 0;

        &::after {
          all: unset;
        }
      }

      & > *:not(:first-child) {
        border-left: 0.1rem solid rgba($color-secondary--dark, 0.3);
        padding-left: 6rem;
      }
    }
  }

  &-title {
    @media (min-width: 810px) {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
  }

  &-desc {
    margin: 2rem 0 3rem 0;

    &--small {
      margin: 0;

      & > *:not(:last-child) {
        margin-bottom: 2rem;
      }
    }

    @media (min-width: 810px) {
      &--small {
        display: flex;
        align-items: center;
        justify-content: space-between;

        & > *:not(:last-child) {
          margin-bottom: 0;
        }
      }
    }
  }

  &-figcaption {
  }

  &-text {
    padding: 2rem;

    @media (min-width: 1140px) {
      display: grid;
      grid-template-columns: 1fr 1fr;
    }
  }

  &-checkbox {
    display: flex;
    align-items: center;
    gap: 2rem;
  }

  &-checked {
    border-top: 1px solid rgba($color-secondary--dark, 0.5);
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;

    @media (min-width: 810px) {
      flex-direction: row;
      justify-content: space-between;

      & > * {
        margin-bottom: 0;
      }
    }
    // display: none;
  }

  &-input {
    display: flex;
    gap: 2rem;

    @media (min-width: 810px) {
      justify-content: flex-end;
    }
  }
}
