@use '../abstracts/index.scss' as *;

.crowdfund {
  &__heading {
    color: $color-secondary;
    font-size: clamp(2rem, 2vw, 2.8rem);
    font-weight: 700;
    margin: 0 auto;
    padding: 1rem 0;

    &--top {
      width: 80%;
    }

    &--secondary {
      font-size: clamp(2rem, 2vw, 2.2rem);
    }

    &--tertiary {
      font-size: 1.4rem;
      margin: 0;
      padding: 0;
    }

    &--modal {
      transition: all 0.3s;

      &:hover {
        color: $color-primary;
        cursor: pointer;
      }
    }
  }

  &__desc {
    font-size: clamp(1.4rem, 2vw, 1.6rem);
    line-height: 1.7;
    transition: color 0.2s;

    &--cyan {
      color: $color-primary;
    }

    &--grey {
      color: rgba($color-secondary--dark, 0.5);
    }

    &--modal {
      margin: 1rem 0;

      @media (min-width: 810px) {
        grid-column: 1 / -1;
        margin-left: 4.5rem;
      }
    }

    &.error-text {
      color: hsl(0, 50%, 47%);
    }
  }

  &__num {
    font-size: 1.5rem;
    display: flex;
    flex-direction: column;

    &--small {
      margin-bottom: 0;
      align-items: center;
      flex-direction: row;
      gap: 1rem;

      @media (min-width: 810px) {
        grid-column: 2 / -1;
        grid-row: 1 / 2;
        justify-self: end;
      }
    }

    &-span {
      color: $color-secondary;
      font-size: 3.2rem;
      font-weight: 700;
      margin-bottom: 1rem;

      &--small {
        font-size: 2rem;
        margin-bottom: 0;
      }
    }
  }
}
