.mt-small {
  margin-top: 1rem;
}

.mb-small {
  margin-bottom: 1rem;
}

.mt-medium {
  margin-top: 2rem;
}

.mb-medium {
  margin-bottom: 2rem;
}

.mt-large {
  margin-top: 3rem;
}

.mb-large {
  margin-bottom: 3rem;
}
