$color-primary: hsl(176, 50%, 47%);
$color-primary--dark: hsl(176, 72%, 28%);
$color-secondary: hsl(0, 0%, 0%);
$color-secondary--dark: hsl(0, 0%, 48%);
$color-secondary--light: hsl(0, 0%, 100%);
$color-tertiary: hsl(0, 0%, 98%);
